/* .container{
height: 100%;
width: 100vh;
position: absolute;
display: flex;
justify-content: space-evenly;
flex-direction: row-reverse;
} */

.menu-container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
    color: white;
}
.menu-items{
display: flex;
}

.menu-items li{
list-style: none;
margin: 5px;
padding: 10px;
font: 18px;
}

.menu-items li:hover{
    color:blue;
    cursor: pointer;
}

.banner-container{
    color: white;
    display: flex;
    height: auto;
    width: 100%;
    background-color: black;
}
.banner-description{
    margin-left: 50px;
}
.banner-text{
    color: red;
    font-size: 24px;
}

.title1{
   font-size: 60px;
   font-weight: bold; 
   margin: 10px;
}
.text{
    font-size: 25px;
    margin: 10px;

}
.banner-btn{
    padding: 10px 30px;
    background-color: red;
    margin: 10px;
    color: white;
    font-size: 20px;
    border-radius: 5px;

}

.card-contaner{
    text-align: center;
    margin-top: 70px;
    padding: 50px;
 
}
.titles{
    font-size: 40px;
    font-weight: bold; 
    margin-bottom: 20px;
    text-align: center;
}
.card-blocks{
    display: flex;
    justify-content: space-evenly;
}
.card1{
    width: 300px;
    height: 200px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    margin-top: 20px;
}
.card1:hover{
    border: 1px solid red;
    margin-top: 0px; 
    transition: .5ms;
}

.gym-icon{
    width: 50px;
}
 .about-right-title{
text-align: center;
font-size: xxx-large;
font-weight: bold;
 }
.about-container{
    display: flex;
    background-color: #292525;
    color: white;
}
 
.about-left{
    width: 700px;
    /* border: 1px solid #d95858; */
}
.about-right{
    width: 700px;
    /* border: 1px solid #342929; */
}
.workout-image{
    display: flex;
    margin-top: 50px;
}
.workout-image img{
    width: 300px;
    height: 550px;
    transform: skewY(-15deg);
}

.btn-text{
    text-decoration: none;
    color: #fff;
}

.list-items{
    list-style: none;
}
.footer{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding-top: 30px;
}